/* Common styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family:'Oswald', Arial, Helvetica, sans-serif;
   color: black;
   background: linear-gradient(-45deg, #c1c1c3, #ffffff, #0b0a0a, #676a69);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
   cursor: pointer;
   text-decoration: none;
   color: black;
}

a:hover {
   color: white;
}

h2 {
   text-align: center;
   font-weight:800;
}

h1, h2 {
   font-family: sans-serif; /* choosing our font */
   background: linear-gradient(to right, rgb(74, 4, 252) 0%, rgb(255, 230, 4) 20%, rgb(255, 255, 255) 61%), linear-gradient(rgb(0, 0, 0) 52%, rgba(0, 0, 0, 0.915) 60%, rgb(250, 3, 3) 61%); /* you can change the colors based on your preference */
   -webkit-background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
      background-clip: text; /*for browsers compatibility */
      -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
   animation: wave 2000ms ease alternate infinite;
   transition: all 0.4s ease;
   }
   @keyframes wave {
   0% {
      background-position: 0 0;
      }
   100% {
      background-position: 50vw 10px;
      }
   }

.wrapper {
   display: flex;
   flex-direction: column;
   max-width: 1440px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 2em;
}

.header,
.container {
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	border: 5px white solid;
   background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em 2em;
}

.logo {
   display: flex;
   width: 650px;
   align-items: center;
   justify-content: space-between;
}

.humor-list {
   display: flex;
}

.humor-list-item {
   list-style-type: none;
   margin-right: 3em;
}

.humor-list-item:last-child {
   margin-right: 0;
}

.container {
   display: flex;
   justify-content: space-evenly;
   padding: 1em 0;
   margin: 2em 3.5em;
   color: white;
}

.container-left {
   width: 630px;
}

.container-left-paragraph-1 {
   margin: 1em;
   text-align: center;
   font-size: larger;
}

.container-left-audio {
   display: flex;
   align-items: center;
   margin-top: 1em;
   gap: 1em;
   font-size: x-large;
}

.container-left-audio-paragraph {
   background: black;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: blink 2s linear infinite;
}
      
   @keyframes blink {
      0% {
         opacity: 0;
      }
      50% {
         opacity: .5;
      }
      100% {
         opacity: 1;
      }
      }